body {
    background: url("../images/space.jpg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    margin: 13% auto;
    padding: 50px;
    width: 50%;
    border: none;
    text-align: center;
    background-color: #006994;
    color: #fff;
    opacity: .95;
}

#game {
    text-align: left;
    padding: 0px 50px;
    font-size: 20px;
}